body {
	background: #6436D9;
	padding: 10px;
}

ul {
	display: block;
	list-style: square;
	padding-top: 5px;
	margin: 0px;
	display : block;
	height : 500px;
	width : 980px;
	background: #DDD8EB;
	border: 1px solid #fff;
	--moz-border-radius: 40px;
	---webkit-border-radius: 40px;
	border-radius: 40px
}